
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(shrek.jpg) no-repeat center ;
    background-size: cover;

}


.calculadora {
    width: 320px;
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}


.display {
    width: 100%;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 2.5rem;
    text-align: right;
    color: #454545;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.botoes {
    display: grid;
    gap: 12px; 
    grid-template-areas:
        "c      apagar multiplicar dividir"
        "sete   oito   nove       subtrair"
        "quatro cinco  seis       somar"
        "um     dois   tres       igual"
        "zero   zero   ponto      igual";
}

.botao {
    min-height: 60px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    color: #454545;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;
}

.botao:active {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.op {
    background-color: #d6eaff;
    color: #007bff;
}

.op-igual {
    background-color: #007bff;
    color: #fff;
}

[data-area="c"]           { grid-area: c; }
[data-area="apagar"]      { grid-area: apagar; }
[data-area="multiplicar"] { grid-area: multiplicar; }
[data-area="dividir"]     { grid-area: dividir; }
[data-area="sete"]        { grid-area: sete; }
[data-area="oito"]        { grid-area: oito; }
[data-area="nove"]        { grid-area: nove; }
[data-area="subtrair"]    { grid-area: subtrair; }
[data-area="quatro"]      { grid-area: quatro; }
[data-area="cinco"]       { grid-area: cinco; }
[data-area="seis"]        { grid-area: seis; }
[data-area="somar"]       { grid-area: somar; }
[data-area="um"]          { grid-area: um; }
[data-area="dois"]        { grid-area: dois; }
[data-area="tres"]        { grid-area: tres; }
[data-area="zero"]        { grid-area: zero; }
[data-area="ponto"]       { grid-area: ponto; }
[data-area="igual"]       { grid-area: igual; }